.book__card {
    text-align: center;
    width: 200px;
    height: 300px;
    margin: 20px;
    padding-bottom: 20px;
}

.book__card:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.book__card-info {
    text-align: center;
    
}

.book__image{
    width: auto;
    height: 80%;
    object-fit: cover;
}