.login__card {
    min-width: 628px;
}

.login__text-default {
    font-size: 60px;
    margin-block-end: 0;
    margin-block-start: 0;
    font-weight: 600;
    padding: 0;
}

.login__text-italic {
    margin-block-end: 0;
    margin-block-start: 1em;
    padding: 0;
    font-weight: 1;
    font-style: italic;
}

.input__box {
    width: 100%;
    height: 35px;
    margin-top: 15px;
    padding-bottom: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #E0DACB;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    color: #E0DACB;
}

.input__box:focus {
    font-family: 'Rubik', sans-serif;
    color: #E0DACB;
    outline: none;
}

.button__section{
    padding-top: 20px;
    text-align: center;
}

.component__footer {
    display: flex;
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #E0DACB;
    text-align: center;
    justify-content: center;
}

.footer__text {
    padding-left: 10px;

}

.footer__text-link{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    color:#A64235;
    padding-left: 10px;
    cursor: pointer;
}

.form__button {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.form__button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.form__button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

